@model IEnumerable<Model.PedidoModel>

@{
    ViewData["Title"] = "Index";
}

<h2>Pedidos!</h2>

<p>
    <a asp-action="Create">Nuevo pedido</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.PedidoID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cliente)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Telefono)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Producto)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FechaPedido)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Precio)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DescripcionProducto)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Estado)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Latitud)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Longitud)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PedidoID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Producto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaPedido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescripcionProducto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Latitud)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Longitud)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.PedidoID }) |
                @Html.ActionLink("Details", "Details", new { id=item.PedidoID }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.PedidoID })
            </td>
        </tr>
}
    </tbody>
</table>
